#dj2019-05 Creating basic .gitignore, this file isn't critical but maybe just makes it a bit easier when working.

/MacRelease*
# Mac Finder droppings (DS_Store files that Mac Finder leaves all over the place) - this is not really critically important to be here for anything to function but helps development as these keep showing up in git status etc. and impede easy auto-commit-all-local-changes type of workflow actions
*.DS_Store

/.vscode/*

#The data subfolder is just a separate git project ie https://github.com/davidjoffe/gnukem_data - don't try commit etc. here
/data
#Same with datasrc if you have it
/datasrc

# Temporary Visual Studio build products that should not be committed:
/src/vcDave/Debug
/src/vcDave/Release
/src/vcDave/x64/*
# Local settings Visual Studio project file should probably not be in repo:
/src/vcDave/vcDave.vcxproj.user
/DaveGnukem.exe
/DaveGnukem.pdb

*.dll

# Temporary local Visual Studio settings and cached stuff eg precompiled headers that should not be committed
/src/vcDave/.vs/

# OS2 (dj2022-11 Merging Andreas Peters OS2 commits)
/**/*.o
/*.exe

# Linux/Mac etc. build products:
davegnukem
src/*.o
src/sdl/*.o
