#dj2019-05 Creating basic .gitignore, this file isn't critical but maybe just makes it a bit easier when working.

#The data subfolder is just a separate git project ie https://github.com/davidjoffe/gnukem_data - don't try commit etc. here
/data
#Same with datasrc if you have it
/datasrc

# Temporary Visual Studio build products that should not be committed:
/src/vcDave/Debug
/src/vcDave/Release
/DaveGnukem.exe
/DaveGnukem.pdb

# Temporary local Visual Studio settings and cached stuff eg precompiled headers that should not be committed
/src/vcDave/.vs/

# OS2 (dj2022-11 Merging Andreas Peters OS2 commits)
/**/*.o
/*.exe

# Linux/Mac etc. build products:
davegnukem
src/*.o
src/sdl/*.o
