#dj2019-05 Creating basic .gitignore, this file isn't critical but maybe just makes it a bit easier when working.

#The data subfolder is just a separate git project ie https://github.com/davidjoffe/gnukem_data - don't try commit etc. here
/data

#Temporary Visual Studio build products that should not be added:
/src/vcDave/Debug
/src/vcDave/Release
/DaveGnukem.exe
/DaveGnukem.pdb
