[Desktop Entry]
Type=Application
Name=Dave Gnukem
Comment=Retro-style 2D scrolling platform shooter
Exec=davegnukem
Icon=davegnukem
Categories=Game
Keywords=2D;Action;Duke Nukem;Platform;Retro
